---
import "../styles/global.css";
const { headerClass } = Astro.props;

import BurgerMenu from '../../assets/burgermenu.png';
import LinkedIn from '../../assets/LinkedIn.png';
import Pinterest from '../../assets/Pinterest.png';
import Behance from '../../assets/Behance.png';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <div class="logo">
        <h1>
          <a href="/" class={`logo-title ${headerClass === 'default-header' ? 'active' : ''}`}>My Portfolio</a>
        </h1>
      </div>
      <nav>
        <ul>
          <li>
            <a href="/my-portfolio/contact" class={`menu-item ${headerClass === 'contact-header' ? 'active' : ''}`}>Contact me</a>
          </li>
        </ul>
        <img src={BurgerMenu.src} alt="Menu" class="burger" />
      </nav>
    </header>

    <article>
      <slot />
    </article>

    <footer class="footer">
      <div class="socials">
        <img src={LinkedIn.src} alt="LinkedIn" />
        <img src={Pinterest.src} alt="Pinterest" />
        <img src={Behance.src} alt="Behance" />
      </div>

        <ul class="artStyles">
          <li><a href="/my-portfolio/paintings" class="styles">Paintings</a></li>
          <li><span class="styles line">|</span></li>
          <li><a href="/my-portfolio/jewellery" class="styles">Jewellery</a></li>
          <li><span class="styles line">|</span></li>
          <li><a href="/my-portfolio/devine-projects" class="styles">Devine Projects</a></li>
          <li><span class="styles line">|</span></li>
          <li><a href="/my-portfolio/digital-art" class="styles">Digital Art</a></li>
        </ul>


  
        <ul class="navigation">
          <li><a href="/" class="nav-item">Home</a></li>
          <li><span class="nav-item line">|</span></li>
          <li><a href="/my-portfolio/contact" class="nav-item">Contact me</a></li>
        </ul>
    </footer>
  </body>
</html>