---
import MyLayout from '../layouts/layout.astro';
---
<MyLayout title="About me" headerClass="about-header">
    <div class="intro-duction2">
        <img src="/src/assets/introductionpicture.png" alt="" >
        <div class="aboutme">
            <p class="introduction">Name: Elana Guinevere Van Impe Delmote</p>
            <p class="introduction">Birthday: 20 december</p>
        </div>
    </div>
</MyLayout>