---
import MyLayout from '../layouts/layout.astro';
---
<MyLayout title="Contact me" headerClass="contact-header">
    <main>
        <div class="contactForm">
            <img class="oval" src="../../public/assets/oval-frame.png" alt="" height="500vh">
            <p class="form">Email <br> phone number <br> </p>
        </div>
    </main>
</MyLayout>
