---
import MyLayout from '../layouts/layout.astro';
---

<MyLayout title="Home Page">
	<header>
        <div class="logo">
            <h1><a href="index.html" class="logo-title active">My Portfolio</a></h1>
        </div>
        <nav>
            <li><a href="about.html" class="menu-item">About me</a></li>
            <li><a href="contact.html" class="menu-item">Contact me</a></li>
			<img src="/assets/burgermenu.png" alt="" class="burger">
		</nav>
    </header>

<main>
		<div class="intro">
			<h2 class="title">My Portfolio</h2>
			<a href="#squareFrame" class="arrow" id="arrow"><h3>&#8595</h3></a>
		</div>
		<div class="frames offset">
			<img src="/artworks/square.png" alt="" id="squareFrame" class="squareFrame artwork" >
			<img src="/assets/oval%20frame.png" alt="" class="ovalFrame">
			<img src="/assets/circular%20frame.png" alt="" class="circleFrame">
			<img src="/artworks/rectangle.png" alt="" class="rectangleFrame">
		</div>
</main>