---
import MyLayout from './layouts/layout.astro';
---
<MyLayout title="Home Page" headerClass="default-header">

<main>
		<div class="intro">
			<h1 class="title">My Portfolio</h1>
			<p class="titleName">By Elana Guinevere</p>
			<a href="#intro-duction" class="arrow" id="arrow"><h3>&#8595</h3></a>
		</div>
		<div id="intro-duction" class="intro-duction">
			<img class="picture" src="../../public/assets/introductionpicture.png" alt="">
			<div class="aboutme">
				<h2 class="introductionTitle">Hello, I'm Elana Guinevere</h2>
				<p class="introduction">I’m a student at Howest in Kortrijk, Belgium,<br> studying <em>Digital Design and Development (Devine)</em>. 
					To expand my skills, I’ve been taking online courses alongside my studies. 
					Currently, I’m exploring various media to create artworks—I design my own jewellery and have recently started working with oil paint. 
					<strong>This portfolio showcases my proudest creations.</strong></p>
			</div>
		</div>
		<div id="timelineContainer" class="timelineContainer">
			<img src="../../public/assets/timeline.png" alt=""  width="100%" class="fade-timeline" id="fadeTimeline">
		</div>
		<div class="gallery">
			<h2 class="project-title sungold">Project Gallery</h2>
			<ul>
				<li class="galleryLi"><a class="galleryA" href="/my-portfolio/paintings">Paintings</a></li>
				<li class="galleryLi"><a class="galleryA" href="/my-portfolio/jewellery">Jewellery</a></li>
				<li class="galleryLi"><a class="galleryA" href="/my-portfolio/digital-art">Digital art</a></li>
				<li class="galleryLi"><a class="galleryA" href="/my-portfolio/devine-projects">Devine Projects</a></li>
			</ul>
		</div>
	
		
</main>

</MyLayout>