---
import MyLayout2 from '../layouts/layout.astro';
import Anniversary from '../artworks/anniversary.png';
import Willow from '../artworks/willow.png';

---
<MyLayout2 title="Paintings">
    <main>
    <img src={Willow.src} alt="" class="willow painting">
    <img src={Anniversary.src} alt="" class="anniversary painting">
   
    </main>
</MyLayout2>