---
import MyLayout2 from '../layouts/layout.astro';
import Anniversary from '../artworks/anniversary.png';
import Willow from '../artworks/willow.png';

---
<MyLayout2 title="Paintings">
    <main>
        <a href="/my-portfolio/index.html" class="back-arrow">
            ←
          </a>
        <div class="paintings">
            <a href="/my-portfolio/artworks/willow">
                <img src={Willow.src} alt="Willow" class="willow painting">
            </a>
            
            <a href="/my-portfolio/artworks/anniversary">
                <img src={Anniversary.src} alt="Anniversary" class="anniversary painting">
            </a>
        </div>
   
    </main>
</MyLayout2>