---
import MyLayout2 from './layouts/layout.astro';

---
<MyLayout2 title="Paintings">
    <main>
        <a href="/my-portfolio/index.html" class="back-arrow">
            ←
          </a>
        <div class="paintings">
            <a href="/my-portfolio/artworks/willow">
                <img src="/artworks/willow.png" alt="Willow painted in balck and white with a grave below it." class="willow painting">
            </a>
            <a href="/my-portfolio/artworks/anniversary">
                <img src="/artworks/anniversary.png" alt="Anniversary painting of two hands reaching out, surrounded by gold roses" class="anniversary painting">
            </a>
            <a href="/my-portfolio/artworks/dagger">
                <img src="/artworks/dagger.png" alt="Hand holding dagger with green emerald jewel" class="dagger painting">
            </a>
        </div>
   
    </main>
</MyLayout2>