---
import "../styles/style.css";
import Behance from '../artworks/Behance.png';
import Pinterest from '../artworks/Pinterest.png';
import LinkedIn from '../artworks/LinkedIn.png';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <article>
        <slot />
    </article>
    <footer class="footer">
        <div class="socials">
            <img src={LinkedIn.src} alt="">
            <img src={Pinterest.src} alt="">
            <img src={Behance.src} alt="">
        </div>
        <div class="artStyles">
            <li><a href="/paintings" class="styles" >Paintings</a></li>
            <p class="styles line">|</p>
            <li><a href="/jewellery" class="styles">Jewellery</a></li>
            <p class="styles line">|</p>
            <li><a href="/devine-projects" class="styles">Devine Projects</a></li>
            <p class="styles line">|</p>
            <li><a href="/digital-art" class="styles">Digital Art</a></li>
        </div>
        <div class="navigation">
            <li><a href="/" class="nav-item">Home</a></li>
            <p class="nav-item line">|</p>
            <li><a href="/about" class="nav-item">About me</a></li>
            <p class="nav-item line">|</p>
            <li><a href="/contact" class="nav-item">Contact me</a></li>
        </div>

    </footer>
</body>